html, body {
  margin: 0;
  padding: 0;
  height: 100dvh;
  width: 100vw;
  background: #111;
  overflow: hidden;
}

#app, #app canvas {
  display: block;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100dvh;
}

#app canvas {
  touch-action: none;
}
